<nav id="navigation" class="navbar affix">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="navbar-header">
					<a class="brand" href="http://cubefusionpapertoys.com/blog/"> 
						<h1 class="logo_text">CubeFusionPapertoys</h1>
						<p class="site-description">Más de 200 cubos felices</p>
					</a>
				</div>
				<div id="main-menu" class="navbar-collapse collapse">
					<!--<ul id="menu-main-menu" class="nav navbar-nav navbar-right">
						<li class="menu-item menu-item-type-custom menu-item-object-custom">
							<a title="Inicio" href="#/">Inicio</a>
						</li>
						<li class="menu-item menu-item-type-custom menu-item-object-custom">
							<a title="Blog" href="http://cubefusionpapertoys.com/blog">Blog</a>
						</li>
						<li class="menu-item menu-item-type-custom menu-item-object-custom">
							<a title="Papertoys" href="#/papertoys">Papertoys</a>
						</li>
						<li class="menu-item menu-item-type-custom menu-item-object-custom">
							<a title="Nosotros" href="#/about">Nosotros</a>
						</li>
						<li class="menu-item menu-item-type-custom menu-item-object-custom">
							<a title="Contacto" href="#/contact">Contacto</a>
						</li> 
					</ul>-->
					<ul id="menu-main-menu" class="nav navbar-nav navbar-right">
						<li class="menu-item menu-item-type-custom menu-item-object-custom">
							<a title="Blog" href="http://cubefusionpapertoys.com/blog">Blog</a>
						</li>
						<li class="menu-item menu-item-type-custom menu-item-object-custom">
							<a title="Papertoys" href="#/papertoys">Papertoys</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>