

    <!-- Navigation -->
    <nav id="navigation" class="navbar affix-top">
		        <div class="container">

            <div class="row">
                <div class="col-md-12">

                    <!-- Navigation Header -->
                    <div class="navbar-header">

                        <!-- Toggle Button -->
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false" aria-controls="main-menu">

                            <span class="sr-only">Toggle Navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>

                        </button>
                        <!-- /Toggle Button -->

                        <!-- Brand -->
                       
                        
                         <a class="brand" href="http://cubefusionpapertoys.com/blog/"> 
							                                <h1 class="logo_text">Cube Fusion Papertoys</h1>
                                <p class="site-description">Más de 200 cubos felices</p>                       </a>
                        <!-- /Brand -->

                    </div>
                    <!-- /Navigation Header -->

                    <!-- Navigation -->
					<div id="main-menu" class="navbar-collapse collapse">
						<ul id="menu-main-menu" class="nav navbar-nav navbar-right">
							<li id="menu-item-21" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-21">
								<a title="Blog" href="http://cubefusionpapertoys.com/blog/">Blog</a>
							</li>
							<li id="menu-item-22" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-22 active">
								<a title="Papertoys" target="_blank" href="http://cubefusionpapertoys.com/">Papertoys</a>
							</li>
						</ul>
					</div>                    <!-- /Navigation -->
                </div>
            </div>

        </div>
    </nav>
    <!-- /Navigation -->


<!--
<nav id="navigation" class="navbar affix">
<div class="container">

<div class="row">
<div class="col-md-12">

<div class="navbar-header">

<a class="brand" href="http://cubefusionpapertoys.com/blog/"> 
<h1 class="logo_text">CubeFusionPapertoys</h1>
<p class="site-description">Más de 200 cubos felices</p>
</a>


</div>



<div id="main-menu" class="navbar-collapse collapse">
	<ul id="menu-main-menu" class="nav navbar-nav navbar-right">
		<li id="menu-item-9" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9">
			<a title="Inicio" href="#/">Inicio</a>
		</li>
		<li id="menu-item-20" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-20">
			<a title="Blog" href="http://cubefusionpapertoys.com/blog">Blog</a>
		</li>
		<li id="menu-item-11" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11">
			<a title="Papertoys" href="#/papertoys">Papertoys</a>
		</li>
		<li id="menu-item-12" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12">
			<a title="Nosotros" href="#/about">Nosotros</a>
		</li>
		<li id="menu-item-13" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13">
			<a title="Contacto" href="#/contact">Contacto</a>
		</li> 
	</ul>
</div>                    

</div>
</div>

</div>
</nav>
-->