a{
    text-decoration: none;
}

.imagen {
    cursor: pointer;
    width: 200px;
    height: 120px;
    transition-duration: .2s;
    position:relative;
    overflow: hidden;
    margin: 5px;
    margin-left: 1px;
    margin-right: 1px;
    display: inline-block;

    img{
        width: 200px;
        height: 120px;
        transition-duration: .5s;
    }

    #testo{
        position: absolute;
        background-color: rgba(232, 76, 61, 0.7);
        width: 200px;
        height: 50px;
        padding-left: 0px;
        margin-top: 120px;
        font-family: Tahoma;
        font-size: small;
        color:white;
        transition-duration: .5s;
    }

    &:hover #testo{
        margin-top: 90px;
        transition-duration: .5s;
    }
}

#nombrepaper{
    height: 20px;
    width: 140px;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
    text-align: left;
}

#cantidad{
    height: 20px;
    width: 50px;
    float: right;
    margin-top: 5px;

    img{
        margin-left: 3px;
        margin-right: -5px;
    }
}

#gallery{
    margin: 0px auto;
    margin-bottom: 50px;
    max-width: 90%;
    text-align:center !important;
    min-height: 600px;
    overflow: auto;

    a:hover{
        text-decoration: none;   
    }
}


#loading{
    position: fixed;
    top: 0px;
    background-color: rgba(255,255,255,0);
    z-index: 2;
    overflow: auto;
    height: 100%;
    width: 100%;   

    img{
        left: calc(50% - 75px);
        width: 150px;
        top: calc(30% - 75px);
        position: fixed;
    }
}

@media only screen and (max-width: 768px){

    .imagen {
        width: 140px;
        height: 140px;

        >img{
            width: 140px;
            height: 85px;
        }

        #testo{
            margin-top: 85px;
            background-color: rgba(232, 76, 61, 1);
            width: 140px;

            #nombrepaper{
                width: 85px;
            }
        }

        &:hover #testo{
            margin-top: 85px;
        }
    }


}

@media only screen and (max-width: 500px){

    .imagen {
        width: 110px;

        >img{
            margin-left: -15px;
        }

        #testo{
            width: 110px;
        }
    }


}