#postGallery{
    max-width: 1000px;
}


#postMini{
    margin: 30px auto;
    width: 600px;
    border: 1px solid brown;
    text-align: center;
    height: 150px;
    
    #column1{
        width: 200px;
        float: left;

        img {
            width: 100%;
        }

        #postData{
            font-size: xx-small;
            text-align: left;
            padding-left: 5px;
            padding-right: 5px;
            margin-top: 10px;
            color: #666666;

            i{
                margin-right: 5px;
            }

            #data1{
                float: left;
            }

            #data2{
                float: right;
            }
        }
    }

    #line{
        width: 1px;
        height: 100%;
        float: left;
        background-color: #666666;
        margin-left: 10px;
        margin-right: 10px;
    }

    #column2 {
        width: 200px;
        float: left;
        color: #444444;
        text-align: justify;

        p {
            font-size: small;
        }
    }

}