#letterMenu {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Raleway, sans-serif;
    padding-bottom: 5px;
}

#letterMenu div{
    margin: 0px auto;
    max-width: 846px;
    text-align:center !important;
}

#letterMenu button{
    border: none;
    width: 30px;
    height: 45px;
    font-size: 15px;
    border-bottom: 3px solid #FF5555;
    margin: 0px auto;
    margin-left: -2px;
    margin-right: -3px;
    transition-duration: .5s;
}

#letterMenu #all{
    width: 50px;
}

#letterMenu button:focus{
    outline:0px;
}

#letterMenu button:hover{
    background: #ff8e8e;
    color: #FFF;
    cursor: pointer;
    transition-duration: .5s;
}

#letterMenu button:active{
    background: #FF5555;
    color: #FFF;
    border-bottom: 3px solid #FF5555;
}

.active{
    background: #FF5555;
    color: #ffffff;
}

.inactive{
    background: #fff;
    color: #444444;
}

#searchField{
    margin: auto;
    max-width: 500px;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    font-family: Raleway, sans-serif;
}

#searchField input{
    width: 100%;
    text-align: center;
    height: 20px;
    border: 1px solid #FF5555;
    color: #FF5555;
	margin: 0px auto;
    margin-top: 5px;
    transition-duration: .5s;
}

#searchField input:hover{
    border: 1px solid #ff8e8e;
    color: #ff8e8e;
    transition-duration: .5s;
}

#searchField input:focus{
    outline:0px;
}

#back{
    width: 50px;
    margin-top:-1px;
    border: none;
    background: none;
    font-size: x-large;
    color: #FF5555;
    transition-duration: .5s;
}

#back:hover{
    color: #ff8e8e;
    transition-duration: .5s;
}

#button-group{
    font-family: Raleway;
    margin: 0px auto;
    margin-bottom: 20px;
    display: table;

    button{
        cursor: pointer;
        background-color: #FF5555;
        border: none;
        width: 150px;
        color: #FFF;
        margin: 5px;
        transition-duration: .5s;
        height: 30px;
    }
    button:hover{
       background-color: #ff8e8e;
        transition-duration: .5s;
    }
    button:focus{
        outline:0px;
    }

}