<div id="ficha" ng-show="an.mode='paper' && an.filterByLetter(p.name)">

    <div id="paperInfo">

        <div id="nombreFicha">{{an.calculatePaperName(p.name)}}</div>
        <div id="follas">
            {{p.parts}}
            <img id="folla" src="{{an.service.route}}/pageIcon.PNG"/>
        </div>
        <div id="estadoFicha">{{p.status}}</div>
    </div>

    <img id="imagenFicha" src="{{an.paperRoute}}{{p.animeImage}}/{{p.image}}.jpg"/>

    <div id="botonera">
        <button ng-show="p.model" ng-click="an.openModel(p)">3D</button>
        <button ng-show="p.download" ng-click="an.open(p)">Descarga</button>
    </div>

</div>